/* CSS Document */

/* Universal Styles */

html {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  color: #3C3C3C;
  max-width: 100%;
}

body {
	line-height: 1.6;
}

h1 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.2;
}

h2 {
	font-size: 1.75rem;
	font-weight: bold;
	line-height: 1.4;
}

h3 {
	font-size: 1.375rem;
	font-weight: bold;
	line-height: 1.4;
}

h4, p {
	font-size: 1rem;
	line-height: 1.5rem;
}

h5 {
	font-size: .9rem;
	line-height: normal;
}

h6 {
	font-size: .8rem;
	line-height: normal;
}

a {
	color: dodgerblue;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
  background-color: #cccccc;
  width: 100%;
}

.center {
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: #3C3C3C;
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

/* Header */

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: white;
}

header .content {
  display: flex;
  align-items: center;
  height: 4rem;
}

header .logo {
  	flex: 1;
	height: 3rem;
}

header .logo-icon {
	height: 3rem;
}

.logo {
	display: flex;
	align-items: center;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif';
	font-weight: bold;
	margin-left: 1.5rem;
	font-size: 1.125rem;
}

header nav ul {
	display: flex;
	align-content: flex-end;
	margin-right: 1.5rem;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #3c3c3c;
}

header .mobile {
  display: none;
}

#logo-colmar {
	color: #212121;
}

#logo-academy {
	color: #666666
}

@media only screen and (max-width : 760px ){
  header .desktop {
    display: none;
  }

  header .desktop-logo {
    display: none;
  }	
	
  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }
}


/* Sign Up Section */



#sign-up-section {
  display: flex;
  align-content: flex-start;
  align-items: center;
}

.main-content .banner .image {
	max-width: 60%;
	height: auto;
	margin: 2rem 0 2rem 1.5rem;
  }

#sign-up-cta {
  align-content: center;
  min-width: 13em;
  max-width: 17rem;
  margin-left: 3.25rem;
  margin-right: 1.5rem;
}

#sign-up-cta .button {
  margin-top: 1.625rem;
  padding: .5rem;
  text-align: center;
}

@media only screen and (max-width: 760px) {
  #sign-up-section {
	height: auto;
    align-items: flex-end;
    justify-content: center;
	background-color: #666666;
  }

  #sign-up-cta {
    position: static;
	max-width: 100%;
    width: 100%;
    background-color: #cccccc;
    border: none;
	margin: 0;
	margin-top: 11.25rem;
	padding: 2rem 1rem;
  }

  #sign-up-cta .content {
    margin-bottom: 0;
  }

  .main-content .banner .image {
    display: none;
  }
	
  .start .button {
  border-radius: 6px;
  background-color: #666666;
  color: white;
}
	
}

/* Student Section */

.student-content {
	display: flex;
	margin-top: 4rem;
}

.student-feature {
	display: block;
	margin: 2rem 1rem 2rem 1.5rem;
}

.student-feature img {
	max-width: 100%;
	height: auto;
	margin: 0 0 2rem 0rem;
  }

.student-links {
	margin: 0rem 0 0rem .5rem;
	border-left: 1px solid #cccccc;
}

.student-link {
	width: 423px;
	display: flex;
	border-bottom: 1px solid #cccccc;
}

.student-link:first-of-type {
	margin-top: 1rem;
} 

.student-link:last-of-type {
	background-color: #cccccc;
} 

.student-link .mobile {
		display: none;
	}

.student-link .desktop {
		display: flex;
	}

.student-link img {
	width: 35%;
	height: 35%;
	margin: 1rem 1.5rem 1rem 1rem;
}

.student-link-text {
	margin: 2.25rem 1.5rem auto 0;
}

@media only screen and (max-width: 760px) {
	.student-feature {
		display: none;
	}
	
	.student-link .desktop {
		display: none;
	}
	
	.student-link .mobile {
		display: flex;
	}
	
	.student-link {
		border: none;
		width: auto;
		max-width: 100%;
		display: block;
		margin: 0;
		padding: 1rem 1rem 0 1rem;
	}
	
	.student-link img {
		width: 100%;
		height: 100%;
		margin: 0;
	}
	
	.student-links {
		margin: 0;
		display: block;
		width: 100%;
	}
	
	.student-link-text {
		margin: 1.5rem 1rem 0 1rem;
		max-width: 100%;
	}
	.student-link:last-of-type {
	margin-bottom: 2rem;
	background-color: transparent;
	} 
}

/* Course Categories Section */


.course-listings {
	display: inline-flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 2rem;
	background-color: #cccccc;
	align-items: stretch;
}

.section-title {
	display: block;
	width: 100%;
	text-align: center;
	margin: 0rem 0 1rem 0; 
}

.course-category {
	display: block;
	margin: 1rem 1rem;
	max-width: 30%;
	min-width: 15.625rem;
	background-color: white;
}

.course-category img {
	max-width: 100%;
	margin: 0;
}

.course-category-text {
	display: block;
	margin: 0 1rem;
	padding-bottom: 1.5rem;
}

.course-category-text h3 {
	margin-top: .5rem;
}

.course-category-text p {
	margin-top: .5rem;
}

video {
	width: 75%;
}
