/* CSS Document */
body {
	text-align: center;
	font-family: helvetica;
}
#decorativeheader {
	background-image: url("../images/the-flatiron-building.png")
	list-style: none;
	color: white;
}
#decorativeheader a {
	color: white;
}