/* CSS Document */
body {
	text-align: center;
	font-family: helvetica;
}
header {
	background-image: url("../images/the-flatiron-building.png")
	list-style: none;
	color: white;
}
header a {
	color: white;
}